<XML>
<EVENT><PERSON>Dave</PERSON><EVENTDATE>11/12/00</EVENTDATE><EVENTTYPE>Birthday</EVENTTYPE><WARNING>365</WARNING></EVENT>
<EVENT><PERSON>John</PERSON><EVENTDATE>4/29/00</EVENTDATE><EVENTTYPE>Birthday</EVENTTYPE><WARNING>31</WARNING></EVENT>
<EVENT><PERSON>Mom and Dad</PERSON><EVENTDATE>4/12/00</EVENTDATE><EVENTTYPE>Anniversary</EVENTTYPE><WARNING>14</WARNING></EVENT>
</XML>
